_xodanmap = matchany : string_equal : xodanmap : answer=open
nmap_goal = time_before : _xodanmap : _xodanmap
curl_goal = time_before : _curl : _curl
firefox_goal = time_before : _firefox : _firefox
exploit_goal = time_before : _xoda_exploit : _xoda_exploit
read_flag = boolean : _fileview1 or _fileview2
stop_apache2 = boolean : _ps and _stop
