    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY labattt2025
NETWORK LAN
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     LAN 172.10.0.3
CONTAINER attack
     USER ubuntu
     X11 NO
     LAN 172.10.0.2
     NO_GW YES
     NO_PRIVILEGE YES
