    GLOBAL_SETTINGS
    LAB_MASTER_SEED andrew_lab2_student_master_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 172.21.0.0/24
     GATEWAY 172.21.0.1
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.21.0.10
CONTAINER server
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.21.0.20
