firefox = time_before : _firefox : _firefox
nmap = matchany : string_equal : _nmap1 : answer=Apache
netcat = time_before : _netcat_pre : _netcat_exploit
explore_db = time_before : _explore_db : _explore_db
create_user = time_before : _create_user1 : _create_user2
show_db = time_before : _show_db : _show_db
