_sflognmap = matchany : string_equal : sflognmap : answer=open
nmap_goal = time_before : _sflognmap : _sflognmap
curl_goal = time_before : _curl : _curl
firefox_goal = time_before : _firefox : _firefox
exploit_goal = time_before : _sflog_exploit : _sflog_exploit
read_flag = boolean : _flagview1 or _flagview2
escalate_to_root = boolean : _escalate_to_root_1 or _escalate_to_root_2
